---
layout: index
---
Uncle Bob has <a href="https://twitter.com/unclebobmartin/status/1513641219376795662">followed up with me</a> to inform me that I may need his publisher's permission to keep this site up.

I've written to them and will bring the site back up if permission is granted 🤞

If permission is not granted then perhaps there is an opportunity to create a new website that allows people to easily create their own custom sets of linkable code rules. If this interests you please leave your thoughts on <a href="https://forms.gle/S8RJ56Bm1A89sLzq6">this Google Form</a>.
<!-- {% include_relative intro.html %}

{% for collection in site.collections %}
{% unless collection.label == 'posts' %}
<h1>{{ collection.label | capitalize }}</h1>
{% assign ordered_smells = collection.docs | sort: 'order' %}
{% for smell in ordered_smells %}
<div class="smell">
    <h2>
        <a class="smell-link" href="{{ smell.url | relative_url }}">{{ smell.code }}: {{ smell.title }}</a>
    </h2>
    {{ smell.content | markdownify }}
</div>
{% endfor %}
{% endunless %}
{% endfor %}

{% include_relative conclusion.html %} -->