---
layout: index
---
{% include_relative intro.html %}

{% for collection in site.collections %}
{% unless collection.label == 'posts' %}
<h1>{{ collection.label | capitalize }}</h1>
{% assign ordered_smells = collection.docs | sort: 'code' %}
{% for smell in ordered_smells %}
<div class="smell">
    <h2>
        <a class="smell-link" href="{{ smell.url | relative_url }}">{{ smell.code }}: {{ smell.title }}</a>
    </h2>
    {{ smell.content | markdownify }}
</div>
{% endfor %}
{% endunless %}
{% endfor %}
